@font-face {font-family: 'Privateer';
	src: url('../fonts/privateerregular.eot');
	src: url('../fonts/privateerregular.eot?#iefix') format('embedded-opentype'),
		 /*url('assets/fonts/privateerregular.woff2') format('woff2'),*/
		 url('../fonts/privateerregular.woff') format('woff'),
		 url('../fonts/privateerregular.ttf') format('truetype'),
		 url('../fonts/privateerregular.svg#wf') format('svg');
}

body {
	font-family: 'Merriweather', serif;
}

@media (max-width: 475px) {
  body {
    font-size: 80%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: 'Raleway', sans-serif; */
	font-weight: 700;
}

.privateer {
	font-family: "Lobster-Regular", serif;
}

h1 {
  font-family: "Lobster-Regular", serif;
}

.section-title {
  font-family: "Lobster-Regular", serif;
}

.necho-word {
	font-size: 4rem;
	text-align: center;
	color: azure;
}

@media (max-width: 475px) {
  .necho-word {
    font-size: 2.5rem;
  }
}

/* responsive background color */
@media (min-width: 476px) {
  body {
    background-color: rgb(40, 69, 131);
  }
}