@font-face {font-family: 'Lobster-Regular';
	src: url('../fonts/Lobster-Regular.ttf');
	}

body {
	font-family: 'Lobster-Regular', serif;
}

@media (max-width: 475px) {
  body {
    font-size: 80%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: 'Raleway', sans-serif; */
	font-weight: 700;
}

h1 {
  font-family: "Lobster-Regular", serif;
}

.section-title {
  font-family: "Lobster-Regular", serif;
}

.lyric-word {
	font-size: 3rem;
	text-align: center;
	background-size: cover;
	background-image: url(Desktop/CSSZenGarden-main/Typography-Project/img/milky.jpeg);
	color: rgb(212, 171, 110);
	padding-top: 50px;
	padding-bottom: 50px;
}

@media (max-width: 475px) {
  .lyric-word {
    font-size: 2.5rem;
  }

  .big-text {
	font-family: 'Lobster-Regular', sans-serif;
	color: rgb(255, 136, 0);
	}
}

/* responsive background color */
@media (min-width: 476px) {
  body {
    background-color: rgb(40, 69, 131);
  }
.raleway-container{
  background-image: url(../img/milky.jpeg);
}

}